<div class = "vertical-section info" name = "informations" style="display:none;" id = "info-panel">
    <div>
        <div class = "status-container live">
            <h4 name = "info-text" class = "status">Informacije</h4>
        </div>
    </div>
</div>