@import "modules/modules.import";

html {
  width: 100%;
  height: 100%;
  background-color:$color-bg;
  body {
    min-height: 100%;
    & > .pp-a-box {
      margin: 0px auto 0px auto;
    }

    .pp-a-box {
      font-family: MyriadPro Semibold;
    }

    .content {
      .pp-header-container {
        margin: 0 auto;
      }
    }

    .pp-header-container {
      margin: 0 auto;
      .navigation {

      }
    }

    .pp-content-container {
      display: block;
      margin: 0 auto;
      text-align: right;
      padding-top: 15px;

      width: 100%;
      @include breakpoint(desktop) {
        width: 65%;
        min-width: 1185px;
        max-width: 1200px;
      }

      #pp-content {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: left;

        width: 100%;
        padding: 5px 0px;
        @include breakpoint(desktop) {
          padding: 15px 0px;
        }
      }
    }
    a {
      text-decoration: none;
      color:inherit;
    }
  }

}