/*********************
 BREAKPOINTS
 *********************//* Background, *//* Darker brown *//* .menu-button-cont icon, .sidebar menu link :hover*//* Dark brown *//* .pp-content-box *//* Main yellow *//* Text, status messages text, main title *//* Brighter yellow *//* sidebar menu link*//* sidebar menu h4 *//* Red *//* "X" icons hover *//* Reddish-brown, background of menu slider *//* Bright blue spinner icon *//* Text color on error msg *//* Text color on success msg *//* Text color on status msg *//* Bluish color for info stuff */.navigation-box {
  display: block;
  margin: auto auto;
  border-bottom: 2px solid;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  font-family: MyriadPro;
  z-index: 20;
  width: 96%;
  min-width: 660px;
  padding: 0 5px;
}
@media (min-width: 70em) {
  .navigation-box {
    width: 65%;
    min-width: 1185px;
    max-width: 1200px;
    padding: 0 25px;
  }
}
