$color_border: #dddddd;
$color-font: #222222;
$number-font: rgba(145, 20, 15, .2);


/* Background, */
$color-bg: #e5cca3;


/* Darker brown */

/* .menu-button-cont icon, .sidebar menu link :hover*/
$color-bd1: #ad8b66;


/* Dark brown */

/* .pp-content-box */
$color-bd2: #512b0f; //rgb(81, 34, 15);


/* Main yellow */

/* Text, status messages text, main title */
$color-y1: #ffe4b7;


/* Brighter yellow */

/* sidebar menu link*/
/* sidebar menu h4 */
$color-y2: #fec;


/* Red */

/* "X" icons hover */
$color-r1: #ae2e15; //rgb(174, 46, 21);


/* Reddish-brown, background of menu slider */
$color-rb-1: #4f180b;//rgb(79, 24, 11);

/* Bright blue spinner icon */
$color-b1-spin: rgba(75, 179, 210, 1);
$color-oker-spin: rgba(255,228,183,1);

/* Text color on error msg */
$color-w1-err: #fdfde4;

/* Text color on success msg */
$color-w2-succ: #ffeeff;

/* Text color on status msg */
$color-w2-succ: #ffeeff;


/* Bluish color for info stuff */
$color-b2-info: #246173; //rgb(36, 97, 115);