
@mixin graditent-yb1-rad() {
  background-color: #AD8B66;
  background: rgb(255,228,183); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%, rgba(173,139,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,228,183,1)), color-stop(100%,rgba(173,139,102,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b7', endColorstr='#ad8b66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin graditent-yb2-rad($opacity) {
  background-color: #AD8B66;
  background: rgb(255,228,183); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,228,183,$opacity) 0%, rgba(173,139,102,$opacity) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,228,183,$opacity)), color-stop(100%,rgba(173,139,102,$opacity))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,228,183,$opacity) 0%,rgba(173,139,102,$opacity) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,228,183,$opacity) 0%,rgba(173,139,102,$opacity) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,228,183,$opacity) 0%,rgba(173,139,102,$opacity) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,228,183,$opacity) 0%,rgba(173,139,102,$opacity) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b7', endColorstr='#ad8b66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin gradient-yb3-sbm() {
  background: -moz-linear-gradient(top, rgba(234,206,154,0.87) 0%, rgba(239,220,170,0.85) 26%, rgba(244,232,173,0.83) 52%, rgba(244,216,173,0.93) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,206,154,0.87)), color-stop(26%,rgba(239,220,170,0.85)), color-stop(52%,rgba(244,232,173,0.83)), color-stop(100%,rgba(244,216,173,0.93)));
  background: -webkit-linear-gradient(top, rgba(234,206,154,0.87) 0%,rgba(239,220,170,0.85) 26%,rgba(244,232,173,0.83) 52%,rgba(244,216,173,0.93) 100%);
  background: -o-linear-gradient(top, rgba(234,206,154,0.87) 0%,rgba(239,220,170,0.85) 26%,rgba(244,232,173,0.83) 52%,rgba(244,216,173,0.93) 100%);
  background: -ms-linear-gradient(top, rgba(234,206,154,0.87) 0%,rgba(239,220,170,0.85) 26%,rgba(244,232,173,0.83) 52%,rgba(244,216,173,0.93) 100%);
  background: linear-gradient(to bottom, rgba(234,206,154,0.87) 0%,rgba(239,220,170,0.85) 26%,rgba(244,232,173,0.83) 52%,rgba(244,216,173,0.93) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeace9a', endColorstr='#edf4d8ad',GradientType=0 );
}

@mixin gradient-yb4-smb-hov {
  background: rgb(255,228,183); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%, rgba(173,139,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,228,183,1)), color-stop(100%,rgba(173,139,102,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,228,183,1) 0%,rgba(173,139,102,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b7', endColorstr='#ad8b66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


@mixin gradient-yb5-smb-act {
  background: -moz-linear-gradient(top,  rgba(204,177,134,0.83) 0%, rgba(226,205,163,0.86) 34%, rgba(228,207,159,0.88) 52%, rgba(229,208,158,0.89) 57%, rgba(219,198,155,0.94) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,177,134,0.83)), color-stop(34%,rgba(226,205,163,0.86)), color-stop(52%,rgba(228,207,159,0.88)), color-stop(57%,rgba(229,208,158,0.89)), color-stop(100%,rgba(219,198,155,0.94)));
  background: -webkit-linear-gradient(top,  rgba(204,177,134,0.83) 0%,rgba(226,205,163,0.86) 34%,rgba(228,207,159,0.88) 52%,rgba(229,208,158,0.89) 57%,rgba(219,198,155,0.94) 100%);
  background: -o-linear-gradient(top,  rgba(204,177,134,0.83) 0%,rgba(226,205,163,0.86) 34%,rgba(228,207,159,0.88) 52%,rgba(229,208,158,0.89) 57%,rgba(219,198,155,0.94) 100%);
  background: -ms-linear-gradient(top,  rgba(204,177,134,0.83) 0%,rgba(226,205,163,0.86) 34%,rgba(228,207,159,0.88) 52%,rgba(229,208,158,0.89) 57%,rgba(219,198,155,0.94) 100%);
  background: linear-gradient(to bottom,  rgba(204,177,134,0.83) 0%,rgba(226,205,163,0.86) 34%,rgba(228,207,159,0.88) 52%,rgba(229,208,158,0.89) 57%,rgba(219,198,155,0.94) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4ccb186', endColorstr='#f0dbc69b',GradientType=0 );
}


@mixin gradient-red-err() {
  background: rgb(191,26,26); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(191,26,26,1) 0%, rgba(211,29,29,1) 7%, rgba(255,34,34,1) 46%, rgba(255,34,34,1) 54%, rgba(255,34,34,1) 54%, rgba(211,29,29,1) 93%, rgba(191,26,26,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,26,26,1)), color-stop(7%,rgba(211,29,29,1)), color-stop(46%,rgba(255,34,34,1)), color-stop(54%,rgba(255,34,34,1)), color-stop(54%,rgba(255,34,34,1)), color-stop(93%,rgba(211,29,29,1)), color-stop(100%,rgba(191,26,26,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,26,26,1) 0%,rgba(211,29,29,1) 7%,rgba(255,34,34,1) 46%,rgba(255,34,34,1) 54%,rgba(255,34,34,1) 54%,rgba(211,29,29,1) 93%,rgba(191,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,26,26,1) 0%,rgba(211,29,29,1) 7%,rgba(255,34,34,1) 46%,rgba(255,34,34,1) 54%,rgba(255,34,34,1) 54%,rgba(211,29,29,1) 93%,rgba(191,26,26,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,26,26,1) 0%,rgba(211,29,29,1) 7%,rgba(255,34,34,1) 46%,rgba(255,34,34,1) 54%,rgba(255,34,34,1) 54%,rgba(211,29,29,1) 93%,rgba(191,26,26,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,26,26,1) 0%,rgba(211,29,29,1) 7%,rgba(255,34,34,1) 46%,rgba(255,34,34,1) 54%,rgba(255,34,34,1) 54%,rgba(211,29,29,1) 93%,rgba(191,26,26,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1a1a', endColorstr='#bf1a1a',GradientType=0 ); /* IE6-9 */

}

@mixin gradient-green-success() {
  background: rgb(122,206,33); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(122,206,33,1) 0%, rgba(103,177,28,1) 7%, rgba(118,173,29,1) 50%, rgba(103,177,28,1) 93%, rgba(122,206,33,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,206,33,1)), color-stop(7%,rgba(103,177,28,1)), color-stop(50%,rgba(118,173,29,1)), color-stop(93%,rgba(103,177,28,1)), color-stop(100%,rgba(122,206,33,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(122,206,33,1) 0%,rgba(103,177,28,1) 7%,rgba(118,173,29,1) 50%,rgba(103,177,28,1) 93%,rgba(122,206,33,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(122,206,33,1) 0%,rgba(103,177,28,1) 7%,rgba(118,173,29,1) 50%,rgba(103,177,28,1) 93%,rgba(122,206,33,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(122,206,33,1) 0%,rgba(103,177,28,1) 7%,rgba(118,173,29,1) 50%,rgba(103,177,28,1) 93%,rgba(122,206,33,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(122,206,33,1) 0%,rgba(103,177,28,1) 7%,rgba(118,173,29,1) 50%,rgba(103,177,28,1) 93%,rgba(122,206,33,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ace21', endColorstr='#7ace21',GradientType=0 ); /* IE6-9 */

}

@mixin gradient-status-bg {
  webkit-background-size: 150px 150px;
  -moz-background-size: 150px 150px;
  background-size: 150px 150px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
}