@mixin box-shadow($shadow1, $shadow2:false) {
  $params: $shadow1;
  @if $shadow2
  { $params: $shadow1, $shadow2; }
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}


@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-sw($radius: 0.5) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;

}

@mixin rounded-se($radius: 0.5) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius-radius: $radius;

}

@mixin rounded-ne($radius: 0.5) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-nw($radius: 0.5) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}


@mixin pp-transition($attr1, $attr2:false, $attr3:false) {
  $params: $attr1;
  @if $attr2
  { $params: $attr1, $attr2; }
  @if $attr3
  { $params: $attr1, $attr2, $attr3; }
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  -ms-transition: $params;
  transition: $params;
}